@import "tailwindcss";

@theme {
  --font-sans: 'Cairo', sans-serif;
}

/* Custom utilities if needed, or layer utilities */
@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-slate-950 text-slate-50;
  }
}
